dist: trusty
sudo: required
language: cpp
env:
  - BUILD_TYPE=release
  - BUILD_TYPE=debug
compiler:
  - gcc
before_install:
install:
  - sudo apt-get install -qq git libboost-all-dev clang gcc cmake

script:
  - mkdir build
  - cd build
  - cmake ../ && make
  - make test
  
